@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-family: "League Spartan", sans-serif;
}

header .navbar {
  max-width: 100%;
  height: 100px;
  background-color: transparent !important;
}
header .navbar .logo {
  width: 100px;
}
header .navbar .nav-sections {
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
  gap: 2rem;
}
header .navbar .nav-sections li a {
  color: white !important;
}
header .navbar .nav-sections li a:hover {
  text-decoration: underline;
}
header .navbar .searchbar {
  max-width: 50%;
  margin-top: 15px;
}

.nav-icon {
  width: 30px;
  margin: 0 1rem 1.5rem 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  padding-bottom: 16px;
}

i {
  font-size: 24px;
}

/* ======================== */
.footer {
  padding-block: 50px;
  padding-bottom: 25px;
  background-color: #151515;
  color: #666873;
  /* Margin-top: auto; for demo use only */
  margin-top: auto;
}

.footer__container {
  max-width: 1160px;
  margin: auto;
  padding: 0 15px;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 20px;
}

.footer__title {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__list-link {
  transition: color 0.25s;
}

.footer__list-link:hover {
  color: #fff;
}

.footer__divider {
  margin-block: 25px;
  border: none;
  border-top: 1px solid rgba(252, 255, 255, 0.1);
}

.footer__bottom {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer__list--bottom {
  flex-direction: row;
}

body {
  background-color: #000;
}

html, body {
  height: 100%;
}

.main-sect {
  width: 100%;
  height: 200px;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  color: white;
  margin: 3.5rem 0 3.5rem 3.5rem;
  text-align: center;
}

.envios {
  width: 100%;
  height: 100px;
  background: linear-gradient(white, rgb(184, 169, 169));
  margin-top: 3rem;
  border-radius: 15px;
}
.envios .lista-envio {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.envios .lista-envio li {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: rgb(46, 44, 44);
  list-style: none;
  margin-top: 1.5rem;
}
.envios .lista-envio li .div-icon {
  width: 40px;
}
.envios .lista-envio li dt {
  margin-left: 2.5rem;
}

.new-cont {
  background: linear-gradient(white, rgb(184, 169, 169));
  width: 100%;
  height: 100px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.new-cont .newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}
.new-cont .newsletter li {
  font-family: "League Spartan", sans-serif;
  font-size: 40px;
  color: #000;
  margin-top: 2rem;
}
.new-cont .newsletter li .searchbar {
  margin-top: 0.5rem;
}

/* BOTON ABAJO HACIA ARRIBA */
.scrollup {
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border: 1px solid #A2A2A2;
  text-align: center;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  cursor: pointer;
}

.card-cont {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 300px; /* Ajusta el ancho de las cards según tus necesidades */
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  overflow-y: hidden;
}

.product-card__image {
  display: block;
  max-width: 100%;
  animation: fadeIn 0.25s;
}

.product-card__caption {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #2b2b2d;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
  padding: 20px;
  border-radius: inherit;
  animation: fadeIn 0.5s;
  flex-grow: 1;
}

.product-card__title {
  font-size: 16px; /* Reduces the font size */
  text-transform: uppercase;
}

.product-card__subtitle {
  color: #d8d7e3;
}

.product-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.product-card__price {
  font-weight: 600;
}

.product-card__button {
  display: grid;
  place-items: center;
  width: 30px; /* Reduces the size of the button */
  height: 30px; /* Reduces the size of the button */
  background-color: #03d7c9;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.25s;
}

.product-card__button:hover,
.product-card__button:focus {
  background-color: #01bdb0;
}

.product-card__icon {
  font-size: 16px; /* Reduces the size of the icon */
  transition: transform 0.25s;
}

.product-card__button:hover .product-card__icon,
.product-card__button:focus .product-card__icon {
  transform: rotate(1turn);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
